# Assignment 2

This assignment will be concerned with demonstrating the following course contents:
* Relational databases (SQL) and MongoDB (NoSQL)
* Graph Databases
* Streaming algorithms

## SQL and NoSQL

SQL databases has over the last decades been the core norm of persisting data into non-volatile memory. Although SQL is a great way to represent certain data sets, it can be quite time expensive when queries starts to compute a high number of large cartesian products between tables. To mitigate some of these performance problems, there has been an increasing interest within the area of NoSQL (i.e. a database that is not meant to have normalized relations). MongoDB is a popular NoSQL database and provides a schema-less persistency of the data in a json-like format (called bson). In contrary to SQL, the data in a NoSQL database should be denormalized as much as possible (that is, you should store it wihin a nested structure). This makes MongoDB especially interesting when storing large documents or highly detailed log-files with a high throughput.

In this exercise we're going to use the Northwind database. To give the reader a idea of how this database looks like, from a relational perspective, a ER diagram is displayed below.

<img src="http://i3.codeplex.com/download?ProjectName=northwinddatabase&DownloadId=269240" width="800" height="800" />

The equivalent MongoDB database, that we are going to use, has onfortunately not been denormalized into one collection. Because of this, the way MongoDB is being used in this exercise is somehow _a special case_.

### Exercise 1

_Task: Establish connection to MongoDB and SQLite_

In the first exercise, we are going to make a basic connection to both SQLite (a light-weight SQL engine that persists data into files) and to MongoDB.

#### Connection to SQLite

The first thing we need to do, is to import sqlite3, which is the Python module we're going to use.

In [1]:
import sqlite3 as lite

We can create a small function that returns a connection to the northwind.db (a file in the same directory).

In [2]:
def get_sqlite_connection():
    conn = lite.connect('northwind.db')
    conn.text_factory = str
    return conn

From here on, getting a connection to the SQLite DB is easy...

In [ ]:
conn = get_sqlite_connection()

Given the `conn` object we can create a cursor, which is used to query the database.

In [ ]:
cur = conn.cursor()

Using the cursor `cur` we can can retrieve all the products by making the sql query `SELECT * FROM PRODUCTS`.

In [77]:
cur.execute('SELECT * FROM PRODUCTS')

The query has been executed and the result set can be obtained by calling fetchall. Here, we are just going to see the first element.

In [78]:
cur.fetchall()[:1] # Take the first element

[(1, 'Chai', 1, 1, '10 boxes x 20 bags', 18, 39, 0, 10, '0')]

We can query the database once again, this time, however, we are going to sort the result set using the `customerid`, which is a column in the table `CUSTOMERS`.

In [79]:
cur.execute('SELECT * FROM customers ORDER BY customerid ASC')
cur.fetchall()[:1]

[('ALFKI',
  'Alfreds Futterkiste',
  'Maria Anders',
  'Sales Representative',
  'Obere Str. 57',
  'Berlin',
  None,
  '12209',
  'Germany',
  '030-0074321',
  '030-0076545')]

#### Connection to MongoDB

Connecting to MongoDB is slightly more difficult, than connecting to a SQLite DB, since MongoDB is a client-server database engine and has to be configured.

First, we need to install MongoDB. After MongoDB is installed, we need to run a shell script that imports the northwind database into MongoDB. After this, we can start the MongoDB service on localhost and the default port using `mongod` in bash.

<img src="img/mongod-service-start.png" width="800" height="800" />

After we've done this, we can `pip install pymongo`, and we are finally ready to start interacting with Northwind MongoDB through Python.

In [5]:
from pymongo import MongoClient
import pymongo

We can create a function, that connects to MongoDB and then returns a connection to "Nortwind"

In [6]:
def get_mongo_connection():
    client=MongoClient('localhost',27017)
    return client['Northwind']   # Get the database

At this point, we can easily make return an MongoDB conn instance

In [7]:
c = get_mongo_connection()

We have established a connection and can use it to retrieve all the products and list the first entry.

In [83]:
products = c.products.find()
list(products)[0]

{u'CategoryID': 1,
 u'Discontinued': 0,
 u'ProductID': 1,
 u'ProductName': u'Chai',
 u'QuantityPerUnit': u'10 boxes x 20 bags',
 u'ReorderLevel': 10,
 u'SupplierID': 1,
 u'UnitPrice': 18.0,
 u'UnitsInStock': 39,
 u'UnitsOnOrder': 0,
 u'_id': ObjectId('5609b12899ded9537b06c7e5')}

Although, this is just a dict, it can be easily seen as a bson object, which is the original way that MongoDB persists data.

If we wanted to make yet another query, but this time we wanted to sort the result, we can apply a sort filter to a specific bson key. From here on, we're going to use Pandas DataFrame since they provide an easy way of pretty-printing tabular data.

In [84]:
c = get_mongo_connection()
customers = c.customers.find().sort('CustomerID', pymongo.ASCENDING)
top10 = [customer['CustomerID'] for customer in customers][:10]
pd.DataFrame(top10, columns=['CustomerID'])

  CustomerID
0      ALFKI
1      ANATR
2      ANTON
3      AROUT
4      BERGS
5      BLAUS
6      BLONP
7      BOLID
8      BONAP
9      BOTTM

The list above shows the top 10 customer ids, sorted in ascending order, from the customer collection.

### Exercise 2

In [ ]:
cur.execute("SELECT * FROM customers AS c INNER JOIN orders AS o ON c.customerid=o.customerid where o.customerid='ALFKI'")
pd.DataFrame(cur.fetchall())

In [ ]:
for customer in c.customers.find({'CustomerID':'ALFKI'}):
    for order in c.orders.find({'CustomerID': customer['CustomerID']}):
        for details in c['order-details'].find({'OrderID': order['OrderID']}):
            joined_result = order.copy()
            joined_result.update(details)
r = cur.fetchall()

# Pretty print using pandas
pd.DataFrame([joined_result.values()], columns=joined_result.keys())

### Exercise 3
_Get all orders (with products) made by ALFKI that contain at least 2 products._

In [15]:
import pandas as pd

In [ ]:
cur.execute('SELECT * FROM customers AS c INNER JOIN orders AS o ON c.customerid=o.customerid '
                    ' INNER JOIN "Order Details" AS od ON od.orderid=o.orderid '
                    ' INNER JOIN products AS p ON p.productid=od.productid '
                    " WHERE c.customerid='ALFKI'"
                    ' GROUP BY o.orderid HAVING count(distinct od.productid) >= 2')
r = cur.fetchall()
pd.DataFrame(r)

In [ ]:
from bson.code import Code
c = get_mongo_connection()
reducer = Code(
        """
            function(obj, prev){
              prev.count++;
            }
        """)
orders = []
for customer in c.customers.find({'CustomerID':'ALFKI'}):
    for order in c.orders.find({'CustomerID': customer['CustomerID']}):
        results = c['order-details'].group(key={"OrderID": 1}, condition={}, initial={"count": 0}, reduce=reducer)
        for details in results:
            if details['OrderID'] == order['OrderID'] and details['count'] >= 2:
                orders.append(order)
                joined_result = order.copy()
                joined_result.update(details)
                
# Pretty print using pandas
pd.DataFrame(orders)

#### Exercise 4

In [ ]:
class TestExercise54(unittest.TestCase):
    def test_sqlite_count_products(self):
        conn = connect_sqlite()
        cur = conn.cursor()
        cur.execute('SELECT count(productid) FROM "Order Details" where productid=7')
        print 'SQLite Count: ' + str(cur.fetchone()[0])

    def test_mongo_count_products(self):
        c = get_mongo_connection()
        print 'MongoDB Count: ' + str(c['order-details'].find({'ProductID': 7}).count())

#### Exercise 5

In [74]:
stmt = """
SELECT count(p.productid), p.productname FROM orders
INNER JOIN [Order Details] AS od ON od.orderid=orders.orderid
INNER JOIN products AS p ON p.productid=od.productid
WHERE CustomerID IN
            (SELECT CustomerID FROM orders
             INNER JOIN [Order Details] ON [Order Details].orderid=orders.orderid
             WHERE [Order Details].productid=7)
GROUP BY od.productid
"""
cur.execute(stmt)
#print list(cur.fetchall())
df_sql = pd.DataFrame(cur.fetchall(), columns=['count','ProductName'])
df_sql

    count                       ProductName
0       8                              Chai
1      18                             Chang
2       7                     Aniseed Syrup
3       6      Chef Anton's Cajun Seasoning
4       6            Chef Anton's Gumbo Mix
5       5      Grandma's Boysenberry Spread
6      29   Uncle Bob's Organic Dried Pears
7       5        Northwoods Cranberry Sauce
8       1                   Mishi Kobe Niku
9      16                             Ikura
10     12                    Queso Cabrales
11      7         Queso Manchego La Pastora
12     15                             Konbu
13      7                              Tofu
14      2                      Genen Shouyu
15     14                           Pavlova
16     16                      Alice Mutton
17      9                  Carnarvon Tigers
18      9        Teatime Chocolate Biscuits
19      7            Sir Rodney's Marmalade
20      9               Sir Rodney's Scones
21      6               Gustaf's Kn�ckebr�d
22      8                          Tunnbr�d
23     15                Guaran� Fant�stica
24      5           NuNuCa Nu�-Nougat-Creme
25     10               Gumb�r Gummib�rchen
26      4                Schoggi Schokolade
27      8                 R�ssle Sauerkraut
28     10           Th�ringer Rostbratwurst
29     10             Nord-Ost Matjeshering
..    ...                               ...
46     10                     Zaanse koeken
47      2                         Chocolade
48      7                          Maxilaku
49      2                  Valkoinen suklaa
50     16             Manjimup Dried Apples
51      7                          Filo Mix
52      8                     Perth Pasties
53     13                         Tourti�re
54     12                      P�t� chinois
55     18            Gnocchi di nonna Alice
56      8                    Ravioli Angelo
57      4            Escargots de Bourgogne
58     19              Raclette Courdavault
59     19                 Camembert Pierrot
60      7                    Sirop d'�rable
61     22                    Tarte au sucre
62      7                      Vegie-spread
63     13         Wimmers gute Semmelkn�del
64     12  Louisiana Fiery Hot Pepper Sauce
65      4         Louisiana Hot Spiced Okra
66     14               Scottish Longbreads
67      9                  Gudbrandsdalsost
68     13                     Outback Lager
69     16                       Flotemysost
70     16            Mozzarella di Giovanni
71      4                        R�d Kaviar
72      5                     Longlife Tofu
73     17              Rh�nbr�u Klosterbier
74     12                      Lakkalik��ri
75     15   Original Frankfurter gr�ne So�e

[76 rows x 2 columns]

In [75]:
c = get_mongo_connection()
from bson.code import Code
reducer = Code(
        """
            function(obj, prev){
              prev.count++;
            }
        """)
#results = c['order-details'].group(key={"ProductID": 1, 'CustomerID':2}, condition={}, initial={"count": 0}, reduce=reducer)
#for x in results:
#    print x
customers = {}
products = {}
for details in c['order-details'].find({'ProductID': 7}):
    for order in c.orders.find({'OrderID':details['OrderID']}):
        customers[order['CustomerID']]= 0

for customer_id in customers.keys():
    for r in c.orders.find():
        if r['CustomerID'] == customer_id:
            for details in c['order-details'].find({'OrderID':r['OrderID']}):

                product_name = c.products.find({'ProductID': details['ProductID']})[0]['ProductName']

                if product_name in products.keys():
                    products[product_name] += 1
                else:
                    products[product_name] = 1

df_mongo = pd.DataFrame(products.keys(), columns=['ProductName']).sort('ProductName')
df_mongo

                        ProductName
38                     Alice Mutton
75                    Aniseed Syrup
42                 Boston Crab Meat
31                Camembert Pierrot
59                 Carnarvon Tigers
2                              Chai
53                            Chang
9                  Chartreuse verte
0      Chef Anton's Cajun Seasoning
19           Chef Anton's Gumbo Mix
44                        Chocolade
14                    Côte de Blaye
63           Escargots de Bourgogne
27                         Filo Mix
45                      Flotemysost
21                          Geitost
36                     Genen Shouyu
70           Gnocchi di nonna Alice
73                Gorgonzola Telino
4      Grandma's Boysenberry Spread
50                       Gravad lax
12               Guaraná Fantástica
72                 Gudbrandsdalsost
54                     Gula Malacca
61              Gumbär Gummibärchen
1               Gustaf's Knäckebröd
28                            Ikura
52                      Inlagd Sill
20                      Ipoh Coffee
33  Jack's New England Clam Chowder
..                              ...
62                    Perth Pasties
47                     Pâté chinois
3                    Queso Cabrales
15        Queso Manchego La Pastora
48             Raclette Courdavault
41                   Ravioli Angelo
8              Rhönbräu Klosterbier
65                      Rogede sild
66                       Röd Kaviar
30                Rössle Sauerkraut
16                    Sasquatch Ale
57               Schoggi Schokolade
64              Scottish Longbreads
11    Singaporean Hokkien Fried Mee
74           Sir Rodney's Marmalade
32              Sir Rodney's Scones
26                   Sirop d'érable
7                         Spegesild
46                   Steeleye Stout
18                   Tarte au sucre
22       Teatime Chocolate Biscuits
29          Thüringer Rostbratwurst
5                              Tofu
51                        Tourtière
71                         Tunnbröd
69  Uncle Bob's Organic Dried Pears
56                 Valkoinen suklaa
55                     Vegie-spread
58        Wimmers gute Semmelknödel
35                    Zaanse koeken

[76 rows x 1 columns]